a > img + svg{
	display:none !important;
}

.shields-io{
    text-align:center;
}
.shields-io a{
    margin:0 5px;
}
.shields-io .icon{
    display:none;
}

.home .hero .description {
    max-width: 45rem;
}